#editor a {
  color: #0078d4;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}

#editor h2,
#editor h3,
#editor h4,
#editor h5,
#editor h6 {
  font-size: larger;
  margin-bottom: 0.25em;
}
