@use "../abstracts/" as a;

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;

  padding: 1rem 0.5rem;
  margin: 0 auto;
  max-width: 1300px;

  @media screen and (min-width: a.$bp-md) {
    padding: 1rem;
  }

  @media screen and (min-width: 1300px) {
    padding: 1rem 0;
  }
}
