article.article-page h2,
article.article-page h3 {
  padding-top: 24px;
  font-weight: bold;
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
}

article.article-page a {
  color: #0070f3;
  text-decoration: underline;
}

@media screen and (min-width: 640px) {
  article.article-page h2,
  article.article-page h3 {
    padding-top: 32px;
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
  }
}
