/* SCSS */
@import "../utils/variables";
@import "../utils/globals";

/* CSS */
@import "../components/articles/sections/scrollable-section/ScrollableSection.css";
@import "../app/article/[id]/article.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1300px;
  margin: 0 auto;
}

#app-portal {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100svh - 64px);

  @media screen and (min-width: 768px) {
    min-height: calc(100vh - 64px);
  }
}

.article-section-item .article-section-item-title {
  background-color: rgb(38 38 38);
}

.article-section-item:hover .article-section-item-title {
  background-color: rgb(20 184 166);
}
