@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* SCSS */
@import "../utils/variables";
@import "../utils/globals";

/* CSS */
@import "../components/articles/sections/scrollable-section/ScrollableSection.css";
@import "../app/article/[id]/article.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: $dark-700;
}

.article-section-item .article-section-item-title {
  background-color: rgb(38 38 38);
}

.article-section-item:hover .article-section-item-title {
  background-color: rgb(20 184 166);
}
