@import "/utils/variables";

.dashboard-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;

  border-top: 0.5px solid $dark-400;

  .sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    height: 100%;
    padding: 0.5rem;
    overflow: hidden;

    border-right: 0.5px solid $dark-400;

    transition: width 300ms ease-out;

    > ul {
      display: flex;
      flex-direction: column;
      height: 100%;

      .dashboard-nav-divider {
        height: 0.5px;
        margin: 1rem 0;
        background-color: $dark-500;
      }

      > button {
        margin-bottom: 4px;
        padding: 0.75rem;
        border-radius: 0.25rem;
        cursor: pointer;

        &:hover {
          background-color: $dark-600;
        }

        svg {
          fill: $dark-400;
          stroke: $dark-400 !important;
        }
      }

      > li {
        position: relative;
        border-radius: 0.25rem;

        &:hover {
          background-color: $dark-600;
        }

        .tooltip-text {
          color: $dark-700;
        }

        > a {
          display: flex;
          align-items: center;
          padding: 0.75rem;

          span {
            position: absolute;
            margin-left: 2rem;
            text-wrap: nowrap;
            font-size: 0.75rem;
            font-weight: 600;
            color: $dark-400;
          }

          svg {
            fill: transparent;
            stroke: $dark-400;
          }
        }
      }
    }
  }
}
