@import "/utils/variables";

input {
  width: 100%;
  padding: 0.4rem 0.6rem;
  border-radius: 0.33rem;
  font-size: 0.9rem;
  color: $dark-100;

  &::placeholder {
    color: $dark-400;
  }

  &::file-selector-button {
    padding: 0.2rem 0.8rem;
    border: 1px solid $dark-400;
    border-radius: 0.33rem;
    margin-right: 0.5rem;
    background-color: transparent;
    color: $dark-100;
  }

  background-color: $dark-600;
  border: 1px solid $dark-600;

  &:focus {
    outline: none;
    border: 1px solid $dark-400;
  }
}
